.musnum {font-size: 70%; white-space: nowrap; vertical-align: 1.1ex; }
.timden {font-size: 70%; vertical-align: -0.6ex; margin-right: 0.8ex; min-width: 1em; max-width:1.6em; margin-left:-0.55em;}
.musden {font-size: 70%; white-space: nowrap; vertical-align: -0.1ex;}
.musdim {font-weight:normal; font-size: 110% !important; vertical-align: 0.1ex;}
.mushdim {font-weight:normal; font-size: 80% !important;  }
.musitie {font-size: 150%; line-height: 1em; position: relative; top: 1em;}
.musotie {font-size: 150%; line-height: 1em; position: relative; bottom: 0.75em;}
.dblsharp {-ms-transform: rotate(45deg); -o-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); font-size: 80%; vertical-align:middle }
abbr[title="simile"] { -ms-transform: rotate(-30deg); -moz-transform: rotate(-30deg); -webkit-transform: rotate(-30deg); -o-transform: rotate(-30deg);  transform: rotate(-30deg);  text-decoration: none !important; border-width: 0px ! important; font-weight: 700; font-size: 1.3em}
/*stop browsers from putting the dotted border under abbreviations*/
abbr[title=flat],abbr[title=sharp], abbr[title="double sharp"], abbr[title=natural],abbr[title="half-diminished"], abbr[title=diminished] {text-decoration: none !important; border-width: 0px ! important}
sub, sup {font-weight: normal; font-size: 0.4em !important; }
sup {vertical-align: super}
sub {vertical-align: sub}
